<p>
  Use the tabs above to find the list of courses offered for your semester,
  including detailed course descriptions.
</p>

<p>You can also download the list of courses as a PDF document:</p>

<div>
  <div class="row">
    <div class="col-xs-1">&nbsp;</div>

    <div class="col-xs-8"><strong>KoVo Link</strong></div>

    <div class="col-xs-3"><strong>Version / Date</strong></div>
  </div>

  <div class="row">
    <div class="col-xs-1">
      <img
        alt="pdf icon"
        src="../iaa/images/doc_pdf.gif"
        style="height: 18px; width: 17px"
      />
    </div>

    <div class="col-xs-8">
      <span aria-hidden="true" class="filetypes filetypes-pdf">&nbsp;</span
      ><a
        class="tucicon-link-download"
        href="https://www.tu-chemnitz.de/phil/english/iaa/download/documents/KoVo_Summer23_03-09.pdf"
        target="_blank"
        >(Preliminary) Annotated Course Catalogue (KoVo) Sommer 2023</a
      >
    </div>

    <div class="col-xs-3">2 (2023-03-09)</div>
  </div>
</div>

<p>
  Older course descriptions can be found in the
  <a
    href="https://www.tu-chemnitz.de/phil/english/iaa/ba_courses_archive.php"
    target="_blank"
    >Archive</a
  >.
</p>

<div id="changelog">
  <div class="tucbox-collapse">
    <div class="tucbox-collapse-heading">
      <p>
        <a class="collapsed" data-toggle="collapse" href="#collapse-changelog"
          >KoVo SoSe 2023 Changelog</a
        >
      </p>
    </div>

    <div class="collapse tucbox-collapse-body" id="collapse-changelog">
      <p>
        2023-03-09: PDF version 2: updated info for incoming Erasmus students
      </p>

      <p>2023-03-03: PDF version 1 added.</p>

      <p>2023-03-01: Online version 1 goes live.</p>
    </div>
  </div>
</div>

<p class="tucbox-tip-warning">
  Please check the KoVo regularly for updates and changes. Only the
  university&#39;s lecture list is legally binding. This KoVo is just a service
  by the English Department.
</p>
<!-- --------------------------- INFO TAB ACCORDEON 01 ----------------------------->

<div id="fpaccordion01">
  <!-- --------------------------- FP ACCORDEON - SUB-ACC 01 ----------------------------->
  <div class="tucbox-collapse">
    <div class="tucbox-collapse-heading">
      <p>
        <a class="collapsed" data-toggle="collapse" href="#collapse01"
          >Summer term 2023: Welcome!</a
        >
      </p>
    </div>

    <div class="collapse tucbox-collapse-body" id="collapse01">
      <p>Dear Students,</p>

      <p>
        Welcome to the new semester! We hope that, once again, we have compiled
        an exciting and inspiring course program for you.
      </p>

      <p>
        As in previous semesters, course registration will be handled
        individually as well as the mode in which courses are taught. Be sure to
        check the course specifics closely and to register for all of your
        courses on time so that you are able to receive any additional course
        information from your lecturers directly. You will find information
        concerning registration procedures at the bottom of the respective
        course descriptions. If the course makes use of OPAL, be sure to click
        on the enrolment option on the course&rsquo;s OPAL page.
      </p>

      <p>
        We have tried to finalise the timetables for the semester, yet some
        changes may still occur. Stay up- to-date by reading notifications sent
        through the English Mailing List and by visiting our homepage. The
        course program will be updated on a regular basis as changes come in.
      </p>

      <p>Stay healthy and stay motivated in summer 2023,</p>

      <p>Your English Department staff</p>
    </div>
  </div>
  <!-- --------------------------- FP ACCORDEON - SUB-ACC 02 ----------------------------->

  <div class="tucbox-collapse">
    <div class="tucbox-collapse-heading">
      <p>
        <a class="collapsed" data-toggle="collapse" href="#collapse02"
          >Summer term 2023: Important events</a
        >
      </p>
    </div>

    <div class="collapse tucbox-collapse-body" id="collapse02">
      <table>
        <tbody>
          <tr>
            <th style="width: 15%">Weekday/s</th>
            <th style="width: 20%">Date</th>
            <th style="width: 65%">Event</th>
          </tr>
          <tr>
            <td>Tue</td>
            <td>3 April</td>
            <td>Beginning of the lecture period</td>
          </tr>
          <tr>
            <td>Fri, Mon</td>
            <td>7 and 10 April</td>
            <td>No classes, public holiday</td>
          </tr>
          <tr>
            <td>Mon</td>
            <td>1 May</td>
            <td>No classes, public holiday</td>
          </tr>
          <tr>
            <td>Thu</td>
            <td>18 May</td>
            <td>No classes, public holiday</td>
          </tr>
          <tr>
            <td>Mon-Tue</td>
            <td>29-30 May</td>
            <td>No classes, public holiday</td>
          </tr>
          <tr>
            <td>Fri</td>
            <td>14 July</td>
            <td>End of lectures</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>17 July-12 Aug</td>
            <td>Examination period</td>
          </tr>
          <tr>
            <td>TBA</td>
            <td>TBA</td>
            <td>ERASMUS meeting for 4th and 6th semester students</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- --------------------------- FP ACCORDEON - SUB-ACC 03----------------------------->

  <div class="tucbox-collapse">
    <div class="tucbox-collapse-heading">
      <p>
        <a class="collapsed" data-toggle="collapse" href="#collapse03"
          >General course requirements for students</a
        >
      </p>
    </div>

    <div class="collapse tucbox-collapse-body" id="collapse03">
      <p>
        The general course requirements are issued by the lecturers of the
        English Department and aim at improving the cooperation in class as well
        as student&rsquo;s academic skills. The requirements establish a fair
        working atmosphere and are binding for all students.
      </p>

      <p>Active participation is required for success in your courses.</p>

      <ul>
        <li>
          Come to class. If you know you cannot attend regularly (at least 12
          sessions/80%) for some reason, please speak to your lecturer right
          away. You will need to arrange how you will participate and interact
          with other students attending the seminar. Students who are absent
          frequently may receive additional tasks to complete for the subsequent
          session. Additionally, the lecturer may include short tests in class
          that are part of the <em>Pr&uuml;fungsvorleistung</em> (PVL) or
          <em>Pr&uuml;fungsleistung</em> (PL).
        </li>
        <li>
          Come to class ready to participate. You should be eager to answer
          questions of the lecturer and participate in discussions with your
          peers.
        </li>
        <li>
          You need to be able to discuss the assigned readings. This usually
          entails reading a set text more than once and engaging with it in some
          way. Write down its main ideas and take note of any terms or concepts
          that are introduced in the text. What questions do you have for the
          lecturer and your fellow students? Please remember that we are all
          responsible for reaching the course objectives and that your
          participation is also important for the other students in the class.
          Students who do not prepare for the session may be asked to leave.
        </li>
        <li>
          For student presentations, you are required to meet with your lecturer
          at least two weeks prior to the presentation to discuss its structure
          as well as its content. You should also send the presentation to the
          lecturer at least one week prior to the presentation. If you do not do
          this, you may lose your presentation slot. Alternative dates will only
          be given in case of illness.
        </li>
        <li>
          Using smartphones in class not only distracts you but also your
          lecturer and your peers. Therefore, you should refrain from using them
          during class &ndash; except if the lecturer asks you to use it for a
          specific task or classroom response system.
        </li>
      </ul>

      <p>
        Additional tasks and supplementary reading can increase your learning
        and help you reach your short-term and long-term academic goals.
      </p>

      <p>
        In addition to the course requirements, you should complete additional
        tasks to further advance your progress in the course. Be sure to speak
        to your lecturer if you need more ideas for self- study. Here are a few
        suggestions:
      </p>

      <ul>
        <li>
          Try to find a second complementary text that relates to the assigned
          reading and analyse how it corresponds to the set text.
        </li>
        <li>Search for an academic video that relates to the text.</li>
        <li>
          Share what you learn during your self-study with your classmates, e.g.
          by uploading articles or adding links to the course&rsquo;s OPAL
          website.
        </li>
      </ul>

      <p>
        It is essential to follow each section&rsquo;s guidelines, requirements
        and citation styles (APA/MLA/Chicago) for writing term papers and
        theses.
      </p>

      <p>
        Lecturers will inform you about the specific guidelines for written
        papers and the due dates for handing them in during the respective
        course and semester. Please note the following:
      </p>

      <ul>
        <li>
          Structural and stylistic standards need to be followed. They will
          usually be explained in class, summarized on a handout, or, if
          necessary, discussed during the lecturer&rsquo;s office hour. If you
          do not follow the requirements, the lecturer can deduct points in the
          paper. This is especially important for BA students who have already
          attended a research colloquium in their 4th or 6th semester and MA
          students in their 3rd semester.
        </li>
        <li>
          The thesis, argument and/or outline have to be discussed with your
          lecturer before you start writing. Otherwise the lecturer can refuse
          to accept your paper.
        </li>
        <li>
          The due dates for term papers are fixed for every individual semester
          and will be announced at the beginning of the semester. Extensions can
          only be granted with previous notification by the student on the basis
          of a reasonable cause (e.g. sickness, impairment, family emergencies).
          Term papers that are handed in after the due date without early
          notification (at least one week prior to the due date) or a sufficient
          cause will receive a failing grade (5.0).
        </li>
      </ul>

      <p>
        Be sure to talk to your lecturers right away if you have any questions
        about the course requirements.
      </p>
    </div>
  </div>
  <!-- --------------------------- FP ACCORDEON - SUB-ACC 04 ----------------------------->

  <div class="tucbox-collapse">
    <div class="tucbox-collapse-heading">
      <p>
        <a class="collapsed" data-toggle="collapse" href="#collapse04"
          >Contact persons</a
        >
      </p>
    </div>

    <div class="collapse tucbox-collapse-body" id="collapse04">
      <table class="grey horizontal">
        <tbody>
          <tr>
            <th>Area</th>
            <th>Person</th>
          </tr>
          <tr>
            <td>Student Advisor</td>
            <td>Dr. Mandy Beck</td>
          </tr>
          <tr>
            <td>Language Program and Semester Abroad Requirements</td>
            <td>
              Dr. Isabelle van der Bom<br />
              Prof. Dr. Christina Sanchez-Stockhammer
            </td>
          </tr>
          <tr>
            <td>ERASMUS</td>
            <td>
              Prof. Dr. Cecile Sandten (Milan)<br />
              Prof. Dr. Christina Sanchez-Stockhammer (all other universities)
            </td>
          </tr>
        </tbody>
      </table>

      <p>&nbsp;</p>
    </div>
  </div>
  <!-- --------------------------- FP ACCORDEON - SUB-ACC 05 ----------------------------->

  <div class="tucbox-collapse">
    <div class="tucbox-collapse-heading">
      <p>
        <a class="collapsed" data-toggle="collapse" href="#collapse05"
          >Study programme identifiers</a
        >
      </p>
    </div>

    <div class="collapse tucbox-collapse-body" id="collapse05">
      <p>
        Several courses may also be taken by students not enrolled in the
        English and American Studies programme. These are marked separately. The
        numbers indicate the appropriate semester of study.
      </p>

      <ul>
        <li><strong>B_AA</strong> = B.A. Anglistik/Amerikanistik</li>
        <li><strong>B_EG</strong> = B.A. Europ&auml;ische Geschichte</li>
        <li><strong>B_Eu</strong> = B.A. Europastudien</li>
        <li><strong>B_Ge</strong> = B.A. Geschichte</li>
        <li><strong>B_InEn</strong> = B.A. Informatik NF Englisch</li>
        <li><strong>B_Ko</strong> = B.A. Interkulturelle Kommunikation</li>
        <li><strong>B_MK</strong> = B.A. Medienkommunikation</li>
        <li><strong>B_MP</strong> = B.A. Print &amp; Media Technology PMT</li>
        <li><strong>B_P&auml;</strong> = B.A. P&auml;dagogik</li>
        <li><strong>B_Ps</strong> = B.A. Psychologie</li>
        <li><strong>M_AA</strong> = Master Anglistik/Amerikanistik</li>
        <li><strong>M_Ge</strong> = Master Geschichte</li>
        <li><strong>M_GI</strong> = Master Interkulturelle Germanistik</li>
        <li><strong>M_In</strong> = Master Informatik</li>
        <li><strong>M_Ko</strong> = Master Interkulturelle Kommunikation</li>
        <li><strong>M_MK</strong> = Master Medienkommunikation</li>
        <li><strong>SELAEn</strong> = Lehramt Grundschule</li>
      </ul>
    </div>
  </div>
  <!-- --------------------------- FP ACCORDEON - SUB-ACC 06 ----------------------------->

  <div class="tucbox-collapse">
    <div class="tucbox-collapse-heading">
      <p>
        <a class="collapsed" data-toggle="collapse" href="#collapse06"
          >International MA students</a
        >
      </p>
    </div>

    <div class="collapse tucbox-collapse-body" id="collapse06">
      <p>Two translation courses are part of the MA curriculum.</p>

      <p>
        <strong
          >Do you have a certificate for German at the A1, A2, or B1
          level?</strong
        >
        You are <strong>not required</strong> to take the Translation classes in
        the Practical Language Program (Translation English-German; Translation
        German-English). Instead, you may take German language classes at the
        Language Centre, but you must register for these courses online through
        OPAL (found under &ldquo;Sprachenzentrum&rdquo; / &ldquo;Deutsch als
        Fremdsprache&rdquo;).
      </p>

      <p>
        <strong>Do you have a certificate for German at the B2 level?</strong>
        You can take the C1-level German course at the Language Centre. After
        you have completed the C1-level German course, you may take the
        Translation German-English course the following semester. If you do not
        want to attend the Translation German-English course, you may attend a
        specialisation course at the C1 German level (e.g. Wissenschaftliches
        Schreiben) instead, but you must register online through OPAL (found
        under &ldquo;Sprachenzentrum&rdquo; / &ldquo;Deutsch als
        Fremdsprache&rdquo; or &ldquo;Wissenschaftliches Schreiben&rdquo;).
      </p>

      <p>
        If you have any questions, please contact the Practical Language
        Programme Coordinator
      </p>
    </div>
  </div>
  <!-- --------------------------- FP ACCORDEON - SUB-ACC 07 ----------------------------->

  <div class="tucbox-collapse">
    <div class="tucbox-collapse-heading">
      <p>
        <a class="collapsed" data-toggle="collapse" href="#collapse07"
          >Information for ERASMUS students</a
        >
      </p>
    </div>

    <div class="collapse tucbox-collapse-body" id="collapse07">
      <p>Dear ERASMUS Students,</p>

      <p>
        Welcome to the English Department at Chemnitz University of Technology!
        We hope you will enjoy your stay in Chemnitz.
      </p>

      <p>
        You are welcome to attend many of the Bachelor&#39;s seminars offered by
        the Department. These courses have
        <strong>&quot;ERASMUS&quot;</strong> below their titles.
      </p>

      <p>
        Erasmus students who would like to improve their
        English language skills are welcome to attend the course
        <strong>Vocabulary Building</strong> after completing
        the Placement Test
      </p>

      <p>
        The Placement Test has two parts: 1) a computer-based
        part which tests your writing, grammar and reading
        skills, and 2) an oral part which evaluates your
        speaking and pronunciation skills.
      </p>

      <p>
      To take the computer-based part of the exam, you must
      obtain your TUC login (a combination of username and
      password) from the
      <em>Universit&auml;tsrechenzentrum </em>several days
      prior to your test date and bring the login information
      and your student ID with you when you come to take the
      test.
      </p>

      <p>
        To sign up for the Placement Test or get more information, please send
        an email to the Practical Language Programme Coordinator, Dr. Isabelle
        van der Bom:<?php require_once('php/mail.inc'); echo prot_mailadr('isabelle.vanderbom@phil.tu-chemnitz.de', 1);?>
      </p>
      Please send the following information:

      <ul>
        <li>your first and last name</li>
        <li>the name and city of your home university</li>
        <li>the name of your Erasmus coordinator</li>
      </ul>

      <p>
        You will then receive further information about available test dates and
        times.
      </p>
    </div>
  </div>
  <!-- --------------------------- FP ACCORDEON - SUB-ACC 08 ----------------------------->

  <div class="tucbox-collapse">
    <div class="tucbox-collapse-heading">
      <p>
        <a class="collapsed" data-toggle="collapse" href="#collapse08"
          >A note on improving your English language skills</a
        >
      </p>
    </div>

    <div class="collapse tucbox-collapse-body" id="collapse08">
      <p>
        As many of you have noticed or will notice soon, many people expect
        students of English to be able to speak and write perfectly. While we
        know that such expectations are often exaggerated and unrealistic, we
        still strive for our students to achieve a very good command of English.
        Apart from the importance of sound language skills for your later
        professional career, you need to be proficient in the language as a
        basis of your course work: reading books and scientific articles,
        writing term papers, giving presentations and participating in class
        discussions are only a few of the areas you will need good English
        skills for to be successful in your studies.
      </p>

      <p>
        In order to help students with the admittedly long and laborious task of
        enhancing foreign language skills to a level adequate for the academic
        world, the English Department offers Practical Language Courses (PLCs)
        targeting the language problems of our students. Yet, students need to
        keep in mind that these courses merely represent the MINIMUM of the time
        and energy that you should invest to improve your linguistic competence
        sufficiently. In other words, you will need to spend more time on
        developing your skills outside of class, for example by
        <strong>reading</strong> (e.g. English and American newspapers and
        magazines, available in the library and, perhaps more conveniently, on
        the Internet), <strong>listening</strong> (e.g., English TV or radio
        channels or listening sources on the Internet), writing,
        <strong>speaking</strong>, and practicing <strong>grammar</strong> and
        <strong>vocabulary</strong> via training websites or CD-ROM
        applications.
      </p>

      <div><strong>Reference materials</strong></div>

      <p>
        In addition, students need good reference books to work effectively and
        successfully. Some helpful resources, including online language learning
        websites, can be found on
        <a
          href="https://www.tu-chemnitz.de/phil/english/sections/practlang/improve.php"
          target="_blank"
          >this page</a
        >.
      </p>
    </div>
  </div>
  <!-- ---------------------------FP ACCORDEON - SUB-ACC 09 ----------------------------->

  <div class="tucbox-collapse">
    <div class="tucbox-collapse-heading">
      <p>
        <a class="collapsed" data-toggle="collapse" href="#collapse09"
          >European Credit Transfer System (ECTS)</a
        >
      </p>
    </div>

    <div class="collapse tucbox-collapse-body" id="collapse09">
      <p>
        The <em>European Credit Transfer System</em> (ECTS) is a standardized
        system for the approval of university courses within the European Union.
        It gives students the opportunity to have their academic credits
        recognized at any university within the EU. This applies not only to
        students from TUC who partake in an exchange program but also to our
        guests and those who change their place of study within Germany or the
        EU. The ECTS is running parallel to the credit systems already existing
        at the respective universities.
      </p>

      <p>The ECTS consists of two components:</p>

      <ol>
        <li>
          In the <strong>credit system</strong>, course achievements &ndash; the
          amount of work required of a student for the individual courses
          &ndash; are evaluated annually.
        </li>
        <li>
          The <strong>grading scale</strong> has been implemented to guarantee a
          common European standard for the assessment of individual achievements
          (from A = excellent to F = fail). However, if an ERASMUS
          student&rsquo;s university uses another system, we can convert
          everything.
        </li>
      </ol>

      <p>&nbsp;</p>

      <div><strong>Incoming students</strong></div>

      <div>&nbsp;</div>

      <p>
        For the courses at our department, students will receive Credit Points
        according to the type of course they attend:
      </p>

      <ul>
        <li><strong>Lecture:</strong> 3 Credits</li>
        <li><strong>Seminar/&Uuml;bung:</strong> 5 Credits</li>
        <li>
          <strong>Practical Language Course:</strong> 3 Credits (2 LVS), 6
          Credits (4 LVS)
        </li>
      </ul>
    </div>
  </div>
</div>
