<%- include("../partials/header")%> <%- include('../partials/flash') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mt-3">
      <img src="img/tuc_logo-2.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">KoVo CMS</h5>
        <p>
          Welcome to the KoVo (course catalogue) content management system of
          the TU Chemnitz' English Department!
        </p>
        <p>
          The course catalogue for summer term 2023 is currently in production.
          Click 'Add Course' above to add a new entry to the catalogue.
        </p>
        <p>To browse through the entries, go to 'All Courses'.</p>
        <p>
          To edit or delete an entry, find the course in 'All Courses' and click
          on its title. You will be taken to the course's individual page with
          the edit and delete options.
        </p>
        <p>
          Once the data entry has been completed, click on 'Download HTML'.
          There, you can copy the finished code and paste it into the TUCAL
          (source code) web editor.
        </p>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer")%>
